@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0 auto;
  padding: 0 auto;
  overflow-x: hidden;
}

@layer base {
  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
  }
  input[type="number"] {
    appearance: textfield;
  }
}